<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="bordered" fill="solid" color="dark" routerLink="/login">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <div class="app-logo-container">
      <ion-avatar class="app-logo" routerLink="/login">
        <img src="assets/img/appicon.png" alt="App Icon">
      </ion-avatar>
    </div>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="dark" routerLink="/login">
        <ion-icon color="light" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Página no encontrada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Lo sentimos, la página que buscas no está disponible.</p>
      <ion-button class="custom-button" expand="full" routerLink="/login">
        Volver al Inicio
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
