ion-content {
    --background: linear-gradient(90deg, rgb(238, 255, 0) 0%, rgb(255, 213, 24) 30%, rgb(255, 109, 24) 100%);
  }

.app-logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px; 
}

.app-logo {
  max-width: 80px; 
  max-height: 80px;
  border-radius: 0;
}

.app-logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0;
}

    
    ion-card {
      width: 90%; 
      margin: 100px auto; 
      box-shadow: none;
      border-radius: 14px;
      padding: 14px;
      background: rgba(49, 49, 49, 0.8);
      text-align: center; 
      
    }

  
.container {
        padding: 6px 20px;
        color: #FFFFFF;
    
        ion-item {
          --background: rgba(133, 3, 3, 0.1);
          padding: 15;
          margin: 14px 14px;
          --border-radius: 14px;
          color: #FFFFFF;
          font-weight: 600;
    
          ion-label {
            padding: 6px 0;
            font-size: 18px;
    

          }
    
        }}

        ion-header {

            ion-toolbar, ion-item {
              --background: #000000;
              background: #000000;
              padding: 0 10px;
              height: 80px;
            display: flex;

            }
          
            ion-toolbar {
              .bordered {
                --border-radius: 10px;
              }
            }
        }

        ion-item {
            margin: 10px auto;
            background: rgba(255, 255, 255, 0.2); 
            border-radius: 20px;
          }
          
          .custom-button {
            --background: rgb(255, 208, 0);
            --color: rgb(0, 0, 0); 
            --border-radius: 20px;
          }
          .custom-alert-button {
            --color: rgb(255, 127, 8);
            --background: transparent;
            --border-radius: 8px;
            font-weight: bold; 
          }
          